<p style="margin-left: 25rem; margin-top: 6rem;"></p>
<div class="container">
    <img src="assets/Images/profile.jpg" class="w-75 coverPhoto" />
    <div class="w-75 floatright">
        <img src="assets/Images/marian.jpg" class="rounded-circle profilePhoto" />
        <div class="container data">
            <p style="color: #00BD97;">ONLINE</p>
            <h1>Marian Rashed</h1>
            <h2>FullStack Developer</h2>
        </div>
        <div class="container">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti soluta neque perferendis tenetur
                nostrum dolores? Quae voluptatum distinctio saepe totam dolores nostrum beatae quibusdam repellendus
                dolorum fuga. Eius ullam sed odit facilis ratione enim saepe, voluptatem quibusdam temporibus,
                asperiores labore velit nostrum atque illum provident nisi quisquam tempore porro. Provident porro
                dicta, ex repellat ea earum nostrum dolorum quis praesentium eum rem adipisci corrupti culpa, veritatis
                debitis natus. Voluptatum recusandae sunt, incidunt quos, voluptatibus facilis reprehenderit quas facere
                tempore ipsam sint quia repellat doloremque autem perspiciatis labore animi accusamus molestiae quam
                minima dolor unde suscipit! Quasi minima odit natus vel. Rem numquam officia tempore iure id. Quis,
                necessitatibus quaerat! A minus atque quam perspiciatis excepturi tempora perferendis est. Dicta
                quibusdam doloremque atque, voluptates nulla molestiae itaque reprehenderit tempore corrupti dolor
                minima expedita cum est velit iste optio delectus inventore iusto repellendus sunt, blanditiis earum.
                Eligendi aliquid, itaque ab beatae obcaecati pariatur, suscipit cum alias, fuga rerum est officiis
                doloremque? Minus, ipsum voluptas accusamus necessitatibus fugit corrupti culpa magnam alias possimus
                similique? Corrupti facere dolor est eligendi alias ea cupiditate, quisquam tempora dicta nostrum nemo
                debitis velit eos nulla fugiat laudantium vel. Commodi omnis perferendis dolor consequuntur! Obcaecati
                quasi nam quas rem mollitia optio repudiandae. Nemo aut numquam cum veniam ipsum sapiente praesentium
                nisi excepturi officia animi, commodi eum quod rerum, explicabo quae necessitatibus exercitationem
                impedit assumenda rem eaque voluptate ea fuga maxime non? Quia sapiente quasi modi voluptas sequi
                molestiae temporibus blanditiis debitis beatae aspernatur, quam, velit qui inventore facilis vitae omnis
                magni maxime minima iste rerum, cum expedita totam nesciunt nostrum! Doloribus, nisi. Deleniti, quam?
                Molestias commodi voluptate inventore quo consequuntur incidunt nemo tempora quae voluptates asperiores,
                omnis tenetur distinctio similique neque? Placeat iure praesentium, voluptatem adipisci magnam nulla
                fuga natus, animi magni veritatis voluptatibus distinctio expedita delectus facere quo dolore? Ut nemo,
                deserunt totam rerum ab quisquam neque. Porro harum nam maxime exercitationem repudiandae similique
                tempora odit perspiciatis eum sint. Dicta omnis mollitia, quae totam enim cumque minus, libero natus
                nulla maiores inventore assumenda quam? Obcaecati quisquam veritatis provident quaerat? Cumque sint,
                provident incidunt debitis alias nemo maxime enim assumenda corrupti blanditiis, harum tempore soluta,
                esse magni. Porro voluptate veniam earum error rerum soluta libero aliquid eligendi sunt a. Sit vel
                numquam dolores adipisci cum voluptatem. Provident dolore pariatur ex molestiae. Voluptatum, similique
                non earum optio quod labore neque possimus modi accusantium necessitatibus! Sed tempore, veritatis
                provident vero, voluptates ullam expedita necessitatibus harum excepturi, laborum error? Facilis magni
                tempore, tenetur dolores, cumque sapiente ex necessitatibus modi mollitia quos est vel omnis accusantium
                ipsum quod sint in quae aperiam officiis deleniti? Ipsum eaque ipsa fugit omnis blanditiis praesentium
                tempora architecto voluptatum minima voluptates maiores non adipisci deleniti nisi repudiandae
                exercitationem aspernatur, dignissimos libero unde pariatur! Dicta, sed quaerat et sapiente doloremque
                rem doloribus recusandae nam. Fugit soluta itaque quae obcaecati, deserunt ab placeat molestiae adipisci
                saepe minima et temporibus perspiciatis aut consequuntur voluptas repellendus? Ipsa vel commodi eligendi
                aliquid a unde mollitia aut at autem, labore earum accusamus dolorem.</p>
        </div>
    </div>

</div>