<div class="container mt-3" style="margin-left: 50px;">
    <div class="row">
        <div class="col-lg-12 border-secondary rounded-5">
            <!-- Profile Cover Image -->
            <div class="position-relative bg-dark" style="height: 300px;">
                <!-- Cover Image -->
                <img src="https://img.freepik.com/free-photo/high-angle-shot-buildings-cloudy-sky-captured-kenya-nairobi-samburu_181624-8111.jpg?t=st=1715004108~exp=1715007708~hmac=cac79e74085899a8bc16a4a44d47f2be03112d18bb9fa8d51394498eb93f769f&w=740"
                    alt="Cover Image" class="w-100 h-100 object-fit-cover">
                <!-- Personal Image -->
                <img src="../../assets/Images/hagar.jpg" alt="Personal Image" class="position-absolute"
                    style="bottom: 20px; left: 20px; border: 5px solid white; border-radius: 50%; width: 150px; height: 150px;">
                


                <div class="position-absolute" style="top: 20px; right: 20px;">
                    <!-- icon for changing cover photo -->
                    <a>
                        <i class="fa-solid fa-camera fa-2xl" style="color:white;"></i>
                    </a>
                   

                </div>

                <div class="position-absolute" style="bottom:35px;  left: 45px;">
                    <!-- icon for changing personal photo -->
                    <a>
                        <i class="fa-solid fa-camera fa-2xl " style="color: white;"></i>
                    </a>
                   
                </div>
            </div>
        </div>
    </div>


    <!-- Bio Section -->
    <div class="col-lg-12 bg-light">

        <div class="p-4 ">
            <h2>Khloud Farouk</h2>
            <div class="text-secondary fs-5 mt-2">
                <p> Software Engineer</p>
                <p class="text-dark">About</p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                    nec odio a arcu pharetra
                    vehicula. Integer tempus erat in odio suscipit vestibulum.
                </p>
            </div>
        </div>
    </div>




    <!-- Posts Section (Placeholder) -->
    <div class="row mt-4">

        <div class="col-lg-8">
            <h3 class="p-4"> My Posts</h3>

            <div class="card w-100">
                <div class="card-body ">
                    <!-- Your posts content here -->
                    <!-- Post Input Section -->


                    <!-- Post Section -->




                    <div class="d-flex flex-start align-items-center">
                        <!-- User Image -->
                        <img class="rounded-circle shadow-1-strong me-3" src="../../assets/Images/hagar.jpg"
                            alt="avatar" width="80" height="80">
                        <div>
                            <!-- User Name -->
                            <h6 class="fw-bold text-dark mb-1">Hager Ibrahim</h6>
                            <p class="text-muted small mb-0">Timestamp</p>
                        </div>
                    </div>
                    <!-- Post Content -->
                    <p class="mt-3 mb-4 pb-2">Post content goes here.</p>
                    <!-- Post Image (if any) -->
                    <img src="../../assets/Images/background.png" alt="Post Image" class="mb-3 rounded"
                        style="max-width: 100%; height: auto;">
                    <!-- Reaction Section -->
                    <div class="d-flex justify-content-between w-25 mt-2">
                        <a href="#!" class="d-flex align-items-center me-3 text-decoration-none"><i
                                class="fa-regular fa-thumbs-up fa-xl" style="color: #2e2e2e;"></i></a>
                        <a href="#!" class="d-flex align-items-center me-3 text-decoration-none"><i
                                class="far fa-comment-dots me-2 fa-xl" style="color: #2e2e2e;"></i></a>
                        <a href="#!" class="d-flex align-items-center me-3 text-decoration-none"><i
                                class="fas fa-share me-2 fa-xl" style="color: #2e2e2e;"></i></a>
                    </div>
                </div>
                <!-- Comments Section -->
                <div class="card-footer py-3 mt-3" style="background-color: #00BD97;">
                    <div class="d-flex flex-start w-100">
                        <!-- Commenter's Image -->
                        <img class="rounded-circle shadow-1-strong me-3" src="../../assets/Images/hagar.jpg"
                            alt="avatar" width="70" height="70">
                        <!-- Comment Input -->
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <textarea class="form-control border rounded-5 mr-2" style="width: 90%;"
                                aria-label="With textarea" placeholder="Leave comment here!"></textarea>
                            <a href="#"><i class="fa-solid fa-paper-plane fa-2xl" style="color: #ffffff;"></i></a>
                        </div>
                    </div>
                    <!-- Post Comments -->
                    <div class="mt-5" style="max-height: 200px; overflow-y: auto;">
                        <div class="card rounded-5">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- Commenter's Image -->
                                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                            class="img img-rounded img-fluid" width="90" height="90">
                                        <!-- Comment Timestamp -->
                                        <p class="text-secondary mt-1">15 Minutes Ago</p>
                                    </div>
                                    <div class="col-md-9">
                                        <!-- Commenter's Name -->
                                        <p><a class="float-left text-decoration-none text-dark">
                                                <h5>Khloud Farouk</h5>
                                            </a></p>
                                        <div class="clearfix"></div>
                                        <!-- Comment Content -->
                                        <p class="fs-5">This is a great post keep going!</p>
                                        <!-- Reply and Like Buttons -->
                                        <div class="d-flex justify-content-between w-100">
                                            <p>
                                                <a class="btn btn-outline-success"><i class="fa fa-reply"></i> Reply</a>
                                                <a class="btn text-white btn-danger"><i class="fa fa-heart"></i>
                                                    Like</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Post Comments -->
                </div>
                <!-- End Comments Section -->





            </div>
        </div>

        <div class="col-lg-4">

            <h3 class="p-4"> My media</h3>
            <div class="card">
                <div class="container-fluid align-items-center mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <img src="https://img.freepik.com/free-photo/landscape-mountains-black-white_119272-43.jpg?t=st=1715013468~exp=1715017068~hmac=661589244532edbc109eee9115a7402beb347a13652323fa4d9391bfa1618e21&w=740"
                                    class="card-img-top" alt="Image 1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <img src="https://img.freepik.com/free-photo/landscape-mountains-black-white_119272-43.jpg?t=st=1715013468~exp=1715017068~hmac=661589244532edbc109eee9115a7402beb347a13652323fa4d9391bfa1618e21&w=740"
                                    class="card-img-top" alt="Image 1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <img src="https://img.freepik.com/free-photo/landscape-mountains-black-white_119272-43.jpg?t=st=1715013468~exp=1715017068~hmac=661589244532edbc109eee9115a7402beb347a13652323fa4d9391bfa1618e21&w=740"
                                    class="card-img-top" alt="Image 1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <img src="https://img.freepik.com/free-photo/landscape-mountains-black-white_119272-43.jpg?t=st=1715013468~exp=1715017068~hmac=661589244532edbc109eee9115a7402beb347a13652323fa4d9391bfa1618e21&w=740"
                                    class="card-img-top" alt="Image 1">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <img src="https://img.freepik.com/free-photo/landscape-mountains-black-white_119272-43.jpg?t=st=1715013468~exp=1715017068~hmac=661589244532edbc109eee9115a7402beb347a13652323fa4d9391bfa1618e21&w=740"
                                    class="card-img-top" alt="Image 1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <img src="https://img.freepik.com/free-photo/landscape-mountains-black-white_119272-43.jpg?t=st=1715013468~exp=1715017068~hmac=661589244532edbc109eee9115a7402beb347a13652323fa4d9391bfa1618e21&w=740"
                                    class="card-img-top" alt="Image 1">
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>

</div>
