<div id="logo" class=" mb-3">
    <img src="assets/Images/login.png" alt="Login Icon" id="img1" />
    <p id="p1"><b>Logoipsum </b></p>
    <div class="search-container position-relative">
        <input type="text" class="form-control rounded-pill pr-5" placeholder="Search" aria-label="Search" aria-describedby="search-icon">
        <span id="span1" class="position-absolute top-50 end-0 translate-middle-y bg-primary rounded-circle p-1">
            <i class="fas fa-search text-white"></i>
        </span>
    </div>
    <div class="position-relative" id="notification">
        <span class="notification-icon position-absolute top-50 translate-middle-y bg-primary rounded-circle p-1">
            <i class="fas fa-bell text-white"></i>
        </span>
    </div>
    
</div>
