<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<p style="margin-left: 25rem; margin-top: 6rem;">Lorem, ipsum dolor sit amet consectetu
    r adipisicing elit. Veniam nam cumque alias ullam eveniet voluptate,
     sunt nesciunt earum officia dolore eius iusto nemo deserunt id hic
      aspernatur vitae quos incidunt, mollitia enim totam possimus? 
      Est eveniet consequatur unde quis libero enim! Unde placeat porro distinctio
      . Cupiditate quam necessitatibus vitae, harum accusantium est odit tenetur, 
      fuga odio, distinctio unde dolorem. Sit laborum quae optio, ratione ea possimus.
       Quae provident incidunt, praesentium natus reiciendis sapiente exercitationem, 
       magni et consectetur rem soluta a, ut quasi fugiat ipsa iure? Autem eaque nisi 
       magnam fuga mollitia cumque cupiditate id ipsam in quas? Eum molestias natus 
       veritatis tempora animi perspiciatis reprehenderit, nulla fugiat sit nostrum 
       eligendi incidunt, dolores architecto recusandae. Aut deleniti dolor natus nam
        architecto, quisquam minus ea soluta possimus omnis quidem perspiciatis ullam?
         Iure illo similique facilis voluptas exercitationem magnam deserunt delectus
          molestiae a voluptatum earum ex sit doloremque explicabo nesciunt, illum ullam 
          hic eos sapiente sequi ipsa accusantium error! Maiores veniam ducimus voluptatibus 
          omnis dolorum soluta quo modi tempore adipisci rerum velit culpa sint, 
          nobis vitae eos laudantium quas hic repellat perferendis a pariatur alias
           commodi amet non. A, quia vero tempore corporis facere illum similique eligendi 
           sunt in quas labore repudiandae sapiente.
           Lorem, ipsum dolor sit amet consectetu
           r adipisicing elit. Veniam nam cumque alias ullam eveniet voluptate,
            sunt nesciunt earum officia dolore eius iusto nemo deserunt id hic
             aspernatur vitae quos incidunt, mollitia enim totam possimus? 
             Est eveniet consequatur unde quis libero enim! Unde placeat porro distinctio
             . Cupiditate quam necessitatibus vitae, harum accusantium est odit tenetur, 
             fuga odio, distinctio unde dolorem. Sit laborum quae optio, ratione ea possimus.
              Quae provident incidunt, praesentium natus reiciendis sapiente exercitationem, 
              magni et consectetur rem soluta a, ut quasi fugiat ipsa iure? Autem eaque nisi 
              magnam fuga mollitia cumque cupiditate id ipsam in quas? Eum molestias natus 
              veritatis tempora animi perspiciatis reprehenderit, nulla fugiat sit nostrum 
              eligendi incidunt, dolores architecto recusandae. Aut deleniti dolor natus nam
               architecto, quisquam minus ea soluta possimus omnis quidem perspiciatis ullam?
                Iure illo similique facilis voluptas exercitationem magnam deserunt delectus
                 molestiae a voluptatum earum ex sit doloremque explicabo nesciunt, illum ullam 
                 hic eos sapiente sequi ipsa accusantium error! Maiores veniam ducimus voluptatibus 
                 omnis dolorum soluta quo modi tempore adipisci rerum velit culpa sint, 
                 nobis vitae eos laudantium quas hic repellat perferendis a pariatur alias
                  commodi amet non. A, quia vero tempore corporis facere illum similique eligendi 
                  sunt in quas labore repudiandae sapiente.
                  Lorem, ipsum dolor sit amet consectetu
                  r adipisicing elit. Veniam nam cumque alias ullam eveniet voluptate,
                   sunt nesciunt earum officia dolore eius iusto nemo deserunt id hic
                    aspernatur vitae quos incidunt, mollitia enim totam possimus? 
                    Est eveniet consequatur unde quis libero enim! Unde placeat porro distinctio
                    . Cupiditate quam necessitatibus vitae, harum accusantium est odit tenetur, 
                    fuga odio, distinctio unde dolorem. Sit laborum quae optio, ratione ea possimus.
                     Quae provident incidunt, praesentium natus reiciendis sapiente exercitationem, 
                     magni et consectetur rem soluta a, ut quasi fugiat ipsa iure? Autem eaque nisi 
                     magnam fuga mollitia cumque cupiditate id ipsam in quas? Eum molestias natus 
                     veritatis tempora animi perspiciatis reprehenderit, nulla fugiat sit nostrum 
                     eligendi incidunt, dolores architecto recusandae. Aut deleniti dolor natus nam
                      architecto, quisquam minus ea soluta possimus omnis quidem perspiciatis ullam?
                       Iure illo similique facilis voluptas exercitationem magnam deserunt delectus
                        molestiae a voluptatum earum ex sit doloremque explicabo nesciunt, illum ullam 
                        hic eos sapiente sequi ipsa accusantium error! Maiores veniam ducimus voluptatibus 
                        omnis dolorum soluta quo modi tempore adipisci rerum velit culpa sint, 
                        nobis vitae eos laudantium quas hic repellat perferendis a pariatur alias
                         commodi amet non. A, quia vero tempore corporis facere illum similique eligendi 
                         sunt in quas labore repudiandae sapiente.
                         Lorem, ipsum dolor sit amet consectetu
                         r adipisicing elit. Veniam nam cumque alias ullam eveniet voluptate,
                          sunt nesciunt earum officia dolore eius iusto nemo deserunt id hic
                           aspernatur vitae quos incidunt, mollitia enim totam possimus? 
                           Est eveniet consequatur unde quis libero enim! Unde placeat porro distinctio
                           . Cupiditate quam necessitatibus vitae, harum accusantium est odit tenetur, 
                           fuga odio, distinctio unde dolorem. Sit laborum quae optio, ratione ea possimus.
                            Quae provident incidunt, praesentium natus reiciendis sapiente exercitationem, 
                            magni et consectetur rem soluta a, ut quasi fugiat ipsa iure? Autem eaque nisi 
                            magnam fuga mollitia cumque cupiditate id ipsam in quas? Eum molestias natus 
                            veritatis tempora animi perspiciatis reprehenderit, nulla fugiat sit nostrum 
                            eligendi incidunt, dolores architecto recusandae. Aut deleniti dolor natus nam
                             architecto, quisquam minus ea soluta possimus omnis quidem perspiciatis ullam?
                              Iure illo similique facilis voluptas exercitationem magnam deserunt delectus
                               molestiae a voluptatum earum ex sit doloremque explicabo nesciunt, illum ullam 
                               hic eos sapiente sequi ipsa accusantium error! Maiores veniam ducimus voluptatibus 
                               omnis dolorum soluta quo modi tempore adipisci rerum velit culpa sint, 
                               nobis vitae eos laudantium quas hic repellat perferendis a pariatur alias
                                commodi amet non. A, quia vero tempore corporis facere illum similique eligendi 
                                sunt in quas labore repudiandae sapiente.
                                Lorem, ipsum dolor sit amet consectetu
                                r adipisicing elit. Veniam nam cumque alias ullam eveniet voluptate,
                                 sunt nesciunt earum officia dolore eius iusto nemo deserunt id hic
                                  aspernatur vitae quos incidunt, mollitia enim totam possimus? 
                                  Est eveniet consequatur unde quis libero enim! Unde placeat porro distinctio
                                  . Cupiditate quam necessitatibus vitae, harum accusantium est odit tenetur, 
                                  fuga odio, distinctio unde dolorem. Sit laborum quae optio, ratione ea possimus.
                                   Quae provident incidunt, praesentium natus reiciendis sapiente exercitationem, 
                                   magni et consectetur rem soluta a, ut quasi fugiat ipsa iure? Autem eaque nisi 
                                   magnam fuga mollitia cumque cupiditate id ipsam in quas? Eum molestias natus 
                                   veritatis tempora animi perspiciatis reprehenderit, nulla fugiat sit nostrum 
                                   eligendi incidunt, dolores architecto recusandae. Aut deleniti dolor natus nam
                                    architecto, quisquam minus ea soluta possimus omnis quidem perspiciatis ullam?
                                     Iure illo similique facilis voluptas exercitationem magnam deserunt delectus
                                      molestiae a voluptatum earum ex sit doloremque explicabo nesciunt, illum ullam 
                                      hic eos sapiente sequi ipsa accusantium error! Maiores veniam ducimus voluptatibus 
                                      omnis dolorum soluta quo modi tempore adipisci rerum velit culpa sint, 
                                      nobis vitae eos laudantium quas hic repellat perferendis a pariatur alias
                                       commodi amet non. A, quia vero tempore corporis facere illum similique eligendi 
                                       sunt in quas labore repudiandae sapiente.
                                       Lorem, ipsum dolor sit amet consectetu
                                       r adipisicing elit. Veniam nam cumque alias ullam eveniet voluptate,
                                        sunt nesciunt earum officia dolore eius iusto nemo deserunt id hic
                                         aspernatur vitae quos incidunt, mollitia enim totam possimus? 
                                         Est eveniet consequatur unde quis libero enim! Unde placeat porro distinctio
                                         . Cupiditate quam necessitatibus vitae, harum accusantium est odit tenetur, 
                                         fuga odio, distinctio unde dolorem. Sit laborum quae optio, ratione ea possimus.
                                          Quae provident incidunt, praesentium natus reiciendis sapiente exercitationem, 
                                          magni et consectetur rem soluta a, ut quasi fugiat ipsa iure? Autem eaque nisi 
                                          magnam fuga mollitia cumque cupiditate id ipsam in quas? Eum molestias natus 
                                          veritatis tempora animi perspiciatis reprehenderit, nulla fugiat sit nostrum 
                                          eligendi incidunt, dolores architecto recusandae. Aut deleniti dolor natus nam
                                           architecto, quisquam minus ea soluta possimus omnis quidem perspiciatis ullam?
                                            Iure illo similique facilis voluptas exercitationem magnam deserunt delectus
                                             molestiae a voluptatum earum ex sit doloremque explicabo nesciunt, illum ullam 
                                             hic eos sapiente sequi ipsa accusantium error! Maiores veniam ducimus voluptatibus 
                                             omnis dolorum soluta quo modi tempore adipisci rerum velit culpa sint, 
                                             nobis vitae eos laudantium quas hic repellat perferendis a pariatur alias
                                              commodi amet non. A, quia vero tempore corporis facere illum similique eligendi 
                                              sunt in quas labore repudiandae sapiente.
                                              Lorem, ipsum dolor sit amet consectetu
                                              r adipisicing elit. Veniam nam cumque alias ullam eveniet voluptate,
                                               sunt nesciunt earum officia dolore eius iusto nemo deserunt id hic
                                                aspernatur vitae quos incidunt, mollitia enim totam possimus? 
                                                Est eveniet consequatur unde quis libero enim! Unde placeat porro distinctio
                                                . Cupiditate quam necessitatibus vitae, harum accusantium est odit tenetur, 
                                                fuga odio, distinctio unde dolorem. Sit laborum quae optio, ratione ea possimus.
                                                 Quae provident incidunt, praesentium natus reiciendis sapiente exercitationem, 
                                                 magni et consectetur rem soluta a, ut quasi fugiat ipsa iure? Autem eaque nisi 
                                                 magnam fuga mollitia cumque cupiditate id ipsam in quas? Eum molestias natus 
                                                 veritatis tempora animi perspiciatis reprehenderit, nulla fugiat sit nostrum 
                                                 eligendi incidunt, dolores architecto recusandae. Aut deleniti dolor natus nam
                                                  architecto, quisquam minus ea soluta possimus omnis quidem perspiciatis ullam?
                                                   Iure illo similique facilis voluptas exercitationem magnam deserunt delectus
                                                    molestiae a voluptatum earum ex sit doloremque explicabo nesciunt, illum ullam 
                                                    hic eos sapiente sequi ipsa accusantium error! Maiores veniam ducimus voluptatibus 
                                                    omnis dolorum soluta quo modi tempore adipisci rerum velit culpa sint, 
                                                    nobis vitae eos laudantium quas hic repellat perferendis a pariatur alias
                                                     commodi amet non. A, quia vero tempore corporis facere illum similique eligendi 
                                                     sunt in quas labore repudiandae sapiente.</p>
