.signin
{
    color:#00BD97;
    text-decoration: none;

}


.SignUp
{
    background-color: #00BD97;
    color: white;
    
}

.custom-color{
    color: #00BD97;
    background-color: white; 
    border-color: #00BD97;
}